nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 460;
  font-size: 18px;
}

#tituloMain {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 350;
    text-align: center;
    
}

@media screen and (max-width:995px) and (min-width:100px){
  nav{
     
     text-align: center;
   }
}

@media screen and (max-width:1000px){
  h1, #sectionTitle, #formAdd{
     display:block;
     text-align: center;
   }
}

@media screen and (max-width:995px){
  #divVaziaTitleButton {
    
    display: none;
  }
}

@media screen and (max-width:600px){
    .emailCol{
       display:none;
     }
  }

@media screen and (max-width:700px){
    #divVazia {
     display:none;
     
  }
}

form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
    th {
      font-weight: 500;
    }
      table a:link, a:visited, a:active, img, #botaoContainer a {
         text-decoration: none;
         color: rgb(24, 23, 23);
      }

@media screen and (max-width:995px){
  #botaoSalvar, #botaoCancelar, button {
     
     display: flex;
     justify-content: center;
     
   }
}

@media screen and (max-width:995px){
  #botaoContainer {
     
     display: block;
     float: center;
     margin: auto;
     text-align: center;
     
  }
}

@media screen and (max-width:995px){
  #divVaziaTitleButton {
    
    display: none;
  }
}
footer {
  font-family: monospace;
  font-size: 12px;
  }